---
import Layout from "../layouts/Layout.astro"
import Titles from "../components/Titles.astro"
---

<Layout>
    <Titles>
        About Me!
    </Titles>
    <p class = "font-rubik my-9 text-slate-800">
        Hi, My name is Chloe.
    </p>
</Layout>