---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h1 class="text-7xl font-rubik underline text-slate-800">
        About Me!
    </h1>
    <p class = "font-rubik my-9 text-slate-800">
        Hi ig.
    </p>
    <div class = "flex gap-4">
        <a href="/" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
            Home
        </a>
        <a href="/projects" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
            Projects
        </a>
    </div>
</Layout>