---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h1 class="text-7xl font-rubik font-bold underline text-slate-800">
        Images
    </h1>
    <p class = "font-rubik my-9 text-slate-800">
        Here are some images from all the adventures I've been on
    </p>
    <div class = "flex gap-4">
        <a href="/" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
            Home
        </a>
        
    </div>
</Layout>