---
import "../global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DrinkLiquidIce</title>
	</head>
	<body class="bg-green-300 flex justify-center flex-col items-center gap-4 h-screen">
		<h1 class="text-7xl font-rubik underline text-slate-50" >
			DrinkLiquidIce</h1>
		<p class="font-rubik my-9"> 
			Hi! My name is Chloe
		</p>
	</body>
</html>
