---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<h1 class="text-7xl font-rubik underline text-slate-800" >
			DrinkLiquidIce</h1>
		<p class="font-rubik my-9 text-slate-800"> 
			Hi! My name is Chloe
		</p>
		<div class = "flex gap-4">
			<a href="/aboutme" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
				About Me
			</a>
			<a href="/projects" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
				Projects
			</a>
		</div>
		<div class = "flex gap-9">
			<a href="https://github.com/drinkliquidice" target="_blank" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
				GitHub
			</a>
		</div>
	</Layout>