---
import { Image } from "astro:assets"
import highpeanutpfp from "../../public/highpeanutpfp.png"
import Layout from "../layouts/Layout.astro"
import Button from "../components/Button.astro"
import Titles from "../components/Titles.astro"
---

<Layout>
	<div class="flex gap-4">
		<Titles>
				DrinkLiquidIce 
		</Titles>
		<Image src={highpeanutpfp} alt="Peanut" class="border-4 border-slate-800 rounded-full w-20 h-20" /> 
	</div>
		<p class="font-rubik my-9 text-slate-800"> 
			Hi! My name is Chloe and this is an archive of my joys in life
		</p>
		<div class="flex gap-4">
			<Button href="/aboutme" > 
				About Me
			</Button>
			<Button href="/projects" > 
				Projects
			</Button>
			<Button href="/images" > 
				Images
			</Button>
			<Button href="/music">
				Music
			</Button>
		</div>
	</Layout>