---
import { Image } from "astro:assets"
import highpeanutpfp from "../../public/highpeanutpfp.png"
import Layout from "../layouts/Layout.astro"
import Button from "../components/Button.astro"
import Titles from "../components/Titles.astro"
---

<Layout>
	<div class="flex gap-4">
		<Titles>
				Music
		</Titles>
	</div>
    <div class="w-80">
		<p class="font-rubik my-4 text-slate-800 whitespace-normal text-center "> 
			As someone who has over 120,000 minutes of music listened on Spotify every year. I have a lot of artists and music to share. This page is dedicated
            to all of the people who have helped me through their art.
		</p>
    </div>
		<div class="flex gap-4">
			
		</div>
	</Layout>