---
import Layout from "../layouts/Layout.astro"
import Titles from "../components/Titles.astro"
---

<Layout>
    <Titles>
        Projects
    </Titles>
        <p class="font-rubik my-9 text-slate-800">
            Here are all my current projects :D
        </p>
        
    </Layout>