---
import Layout from "../layouts/Layout.astro"
import Titles from "../components/Titles.astro"
---

<Layout>
    <Titles>
        Projects
    </Titles>
        <p class="font-rubik my-9 text-slate-800">
            Here are all my current projects :D
        </p>
        <a href="/" class="rounded-md p-3 bg-emerald-700 text-slate-50"> 
			Home
		</a>
    </Layout>