---
interface Props {
    href: string
}

const { href } = Astro.props;
---
<a href={href} class="font-rubik rounded-md p-3 hover:opacity-75 hover:animate-bounce bg-emerald-700 ring-4 ring-emerald-500 text-slate-50">
    <slot/>
</a>