---
import "../global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DrinkLiquidIce</title>
	</head>
	<body class="bg-gradient-to-r from-yellow-200 to-green-300 flex justify-center flex-col items-center gap-4 h-screen">
		<slot/>
	</body>
</html>